@import 'tailwindcss';

@theme {
  --color-background: #efe8d8;
  --color-primary: #f59e0b;
  --color-secondary: #3b82f6;
  --color-team1: #ef4444;
  --color-team2: #10b981;
}

html,
body,
#root {
  @apply h-screen w-full overflow-hidden;
  /* cursor: none; */
  background-color: var(--color-background);
}
